email-validator
xlsxwriter
openpyxl
Flask-APScheduler
Flask-Mail
Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Login
werkzeug
pandas
numpy
requests
yfinance
gunicorn  # <-- AÑADIR ESTO
# Cualquier otra dependencia que uses (revisa tus imports)
